body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/images/twelve.jpg');
    position: relative;
}

label {
    color: white;
}

input {
    width: 300px;
}

#sub {
    width: 150px;
    height: 25px;
}

#sub:hover {
    border-radius: 10px;
    background-color: blue;
    color: white;
}